<footer class="footer">
  <p>&copy; <%= new Date().getFullYear() %> Startup Submission Portal. All rights reserved.</p>
</footer>

<style>
  .footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #004d40;
    text-align: center;
    width:100%
  }

  .footer p{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;

  }
  @media (max-width: 780px) {
  .footer {
   padding: 10px 20px;
  }
}
  
@media (max-width: 480px) {
  .footer p{
  font-size: 0.8rem;
  }
}
</style>
