<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="logo">Startup Portal 🚀</a>
  </div>
</nav>

<style>
  .navbar {
    background-color: #004d40;
    padding: 12px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  

  @media (max-width: 780px) {
  .logo {
  font-size: 1rem;
  }
}
  
</style>

